body
{
margin:0;
padding:0;
 background-color: #f5f4f4;
}

#footer
{
	text-align:center;
	padding:5px;
	font-size:10px;
	color:#003;
}
#footer a
{
	color:#158123;
	text-decoration:none;
	margin:0 10px;
}
#footer a:hover
{
color:#000000;
text-decoration:underline;
margin:0 10px;
}
.copy
{
text-align:center;
padding:5px;
font-size:10px;
color:#A7A7A7
}

.body_text
{text-align:justify;
font-family:Verdana, Geneva, sans-serif;
color:#333;
font-size:13px;
line-height:150%;
padding-left:15px;
padding-right:15px;
padding-top:5px;
padding-bottom:15px;

}
.page-heading
{text-align:left;
font-family:Verdana, Geneva, sans-serif;
color:#333;
font-size:18px;
font-weight:bold;
padding-left:25px;
padding-right:15px;
padding-top:15px;
padding-bottom:15px;
}
